<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Dashboard</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/barebones.css">

  <link rel="icon" type="image/png" href="../static/images/favicon-16.png">

</head>
<body>
  <br>
  <center><h1>Dashboard</h1>
    <hr>
    <div>
      <iframe src="/ip" style="overflow-y:auto;height:600px;width:500px;padding:0 0 0 0;" scrolling="no" frameBorder="no"><br></iframe>
    </div>
    <hr>
    <!--<p>Check ip: dig +short myip.opendns.com @resolver1.opendns.com</p>-->

  </center>

</body>
</html>
